/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

thead {
	background:#CCCCCC;
	border-bottom: 1px solid;
	font-weight: bold;
}

table, th, td {
  border: 1px solid;
    border-collapse: collapse;
	
	white-space: nowrap;
	padding: 5px;

}
tr.list:hover td {
  
        background-color: rgb(170,170,170);
        font-size: 100%;
        border: 0;
      }

tr.light {
        background-color: rgb(200,200,200);
      }

tr.dark {
        background-color: rgb(190,190,190);
      }


td,th{
  border: 0px solid;
    border-collapse: collapse;
    vertical-align: top;
}

tr.head{
	border: 0px solid;
	border-bottom: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
	background:#CCDDDD;
	font-weight: bold;
	font-size: 12;
}

tr.foot{
	border: 0px solid;
	border-top: 1px solid;
	border-collapse: collapse;
    vertical-align: top;
	text-align: right;
}

td.lfoot{
	border: 0px solid;
	border-top: 1px solid;
	border-collapse: collapse;
    vertical-align: top;
	text-align: left;
}

table.hide, th.hide, td.hide {
  border: 0px solid;
    border-collapse: collapse;
    vertical-align: top;
}

div.menu {
  font-size: 10;
  position: absolute;
  top: 80px;
  left: 0;
  width: 110px;
}

div.content {
  position: absolute;

  left: 110px;
  min-width: 50%;
}
div.tag {
    float:left; 
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

table {
  width: 100%;
}

input.name {
	width: 24em;
}

input.passwd {
	width: 16em;
}

input.phone {
	width: 20em;
}

textarea.description {
    height: 5em;
    width: 50em;
}

